.login-box{
    width: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
}
.user-icon{
    font-size: 4rem !important;
    margin: 1rem 0;
    color: #13131379;
}

.text-orange{
    color: orange;
}