#bugDescription{
    resize: none;
}
.truncate-text {
    display: -webkit-box; 
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.search-z-index{
    z-index: 5000;
}
.hover-bg-dark:hover{
    background-color: rgba(48, 47, 47, 0.256) !important;
    transform: scale(1.01);
}
