* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}
#root{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #131313;
    color: rgb(255, 255, 255);
    overflow: auto;
}
#root::-webkit-scrollbar{
    width: 0.4rem;
    background-color: rgba(124, 123, 123, 0.664);
}
#root::-webkit-scrollbar-thumb{
    background-color: white;
}
.dashboard-components{
    display: flex;
    flex: 1;
}
.fs-10{
    font-size: 10px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-16{
    font-size: 16px !important;
}
.color-gold{
    color: gold !important;
}
.color-orange{
    color: #ff6730 !important;
}
.color-green{
   color: #4CAF50 !important;
}
.redirect-link{
    color: rgba(252, 252, 252, 0.854);
    border-radius: 5px;
}
.redirect-link:hover a{
    color: white;
}
.selected-link{
    background-color: #131313;
    transition: left 1s ease;
}
.selected-link a{
    color: white !important;
}

.text-red{
    color: rgba(255, 0, 0, 0.79);
}
.text-gold{
    color: gold;
}
.text-aqua{
    color: aqua;
}

.question-title {
    display: inline-block; 
    flex: 1; 
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

input:focus{
    box-shadow: 0 !important;
    outline: none;
}
.bg-dark-gray{
    background-color: #313131 !important;
}

@media (max-width: 440px) {
    #root::-webkit-scrollbar{
        display: none;
    }
}