* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #131313;
    color: rgb(255, 255, 255);
    overflow: auto;
}

#root::-webkit-scrollbar {
    width: 0.4rem;
    background-color: rgba(124, 123, 123, 0.664);
}

#root::-webkit-scrollbar-thumb {
    background-color: white;
}

.dashboard-components {
    flex: 1;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.color-gold {
    color: gold !important;
}

.color-orange {
    color: #ff6730 !important;
}

.color-green {
    color: #4CAF50 !important;
}

.redirect-link {
    color: rgba(252, 252, 252, 0.854);
    border-radius: 5px;
}

.redirect-link:hover a {
    color: white;
}

.selected-link {
    background-color: #131313;
    transition: left 1s ease;
}

.selected-link a {
    color: white !important;
}

.text-red {
    color: rgba(247, 47, 47, 0.79) !important;
}

textarea{
    outline: none;
}

.text-gold {
    color: rgba(255, 217, 0, 0.648) !important;
}

.text-aqua {
    color: rgba(0, 255, 255, 0.648) !important;
}

.bg-light-red {
    background-color: rgba(255, 0, 25, 0.094);
}

.bg-light-aqua {
    background-color: rgba(0, 255, 255, 0.096);
}

.bg-light-gold {
    background-color: rgba(255, 217, 0, 0.096);
}
.bg-light-green{
    background-color: rgba(0, 255, 0, 0.068);
}
.cursor-pointer{
    cursor: pointer !important;
}
.question-title {
    display: inline-block;
    flex: 1;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

input:focus {
    box-shadow: 0 !important;
    outline: none;
}

.bg-dark-gray {
    background-color: #313131 !important;
}

.bg-light-black {
    background-color: #202020a3 !important;
}

.w-fit-content {
    width: fit-content !important;
}

.cursor-pointer {
    cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hover-component:hover{
    opacity: 0.9 !important;
    background-color: #41404086 !important;
}

.box-height-60{
    height: 50vh;
}

.bg-131313{
    background-color: #131313;
}
.near-black{
    background-color: #131313;
    color: #ffffff;
}

.flex-1{
    flex: 1;
}
.height-100{
    height: 100vh;
}
.hover-orange:hover{
    color: orange !important;
}
.hover-blue:hover{
    color: blue !important;
}
.pre-wrap-space{
    white-space: pre-wrap;
}

.login-box{
    width: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
}
.user-icon{
    font-size: 4rem !important;
    margin: 1rem 0;
    color: #13131379;
}

.text-orange{
    color: orange;
}


@media (max-width: 440px) {
    #root::-webkit-scrollbar {
        display: none;
    }
}