.about-user{
    background-color: #3131317c;
}
.user-image{
    font-size: 8rem !important;
    color: rgb(210, 209, 209);
}
.editprofile-button{
    background-color: rgb(0 255 234 / 12%);
    color: #00ffea;
}
.text-light-secondary{
    color: rgb(193, 193, 193);
}
.consistency-box{
    background-color: #3131317c;
}
.category-box{
    background-color: #313131;
}
.language-interval-line{
    margin-bottom: 0.7rem;
    border-bottom: 1px dashed;
}
.form-control:focus{
    box-shadow: none;
}
.form-control::placeholder{
    color: gray;
}
.solve-question-list li:nth-child(odd){
    background-color: #131313;
}
.sort-questions li button{
    border: none;
}
.selected-option{
    border-bottom: 2px solid white !important;
    color: white !important;
}

.profile-image-update{
    display: none;
}
.profile-image-component:hover .profile-image-update{
    display: block !important;
}


@media (max-width: 750px) {
    .question-title {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .question-title {
        width: 120px;
    }
}